:root {
    --primary-color: #007bff;
    --primary-color-hover: #0056b3;
    --text-color-teclas-hover: snow;
    --font-family: Arial, sans-serif;
    --font-size: 16px;
    --navbar-padding: 10px 0;
    --text-color-nav-link-teclas: white;
    --footer-background-color: #f8f9fa;
    --footer-text-color: #333;
    --footer-font-size: 0.9rem;
    --card-background-color: #fff;
    --card-border-color: #ddd;
    --card-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --teclas-text-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, var(--font-family);
}

.logo {
    height: 5rem;
    width: 5rem;
}

body {
    font-size: var(--font-size);
}

.navbar {
    background-color: var(--footer-background-color);
    border-bottom: 1px solid var(--card-border-color);
    padding: var(--navbar-padding);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.navbar-nav {
    display: flex;
    align-items: center;
}

    .navbar-nav .nav-item {
        margin-right: 10px;
    }

    .navbar-nav .nav-link.teclas {
        color: var(--text-color-nav-link-teclas);
    }

        .navbar-nav .nav-link.teclas:hover {
            color: var(--text-color-teclas-hover);
        }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer {
    background-color: var(--footer-background-color);
    padding: 20px 0;
    text-align: center;
    font-size: var(--footer-font-size);
    margin-top: 20px;
}

.teclas {
    text-decoration: none;
    margin: 5px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--teclas-text-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .teclas:hover {
        background-color: var(--primary-color-hover);
        color: #fff;
    }

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #0056b3;
    }

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: stretch;
    }

        .navbar-nav .nav-item {
            margin-bottom: 10px;
        }
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .teclas {
        padding: 8px 16px;
    }
}
